.main1,.choice input[type="checkbox"],.main2,.example-answer,.statistic{
    background-color: rgb(234, 234, 234);
}
.main1{
    color: black;
    /* color: rgb(28, 170, 231); */
}
.statistic{
    color: rgb(28, 170, 231);
}
.choice input[type="checkbox"]{
    border-color: black; 
}
.different-theme,.choice input[type="checkbox"]:checked,button,.fill,.fill-double,.easy-basket-filter-info p,.easy-basket-filter-info-double p,.easy-basket-filter-info-three p, .easy-basket-filter-info input, .easy-basket-filter-info-double input, .easy-basket-filter-info-three input, input[type=range]::-webkit-slider-thumb {
    background-color: rgb(28, 170, 231);
}
.choice input[type="checkbox"]:checked{
    border-color: rgb(28, 170, 231);
}
button,.example-answer{
    box-shadow: 0px 1px 4px  rgb(92, 92, 92);
}
button,.easy-basket-filter-info p,.easy-basket-filter-info-double p,.easy-basket-filter-info-three p, .easy-basket-filter-info input, .easy-basket-filter-info-double input, .easy-basket-filter-info-three input{
    color: white;
}
button:active{
    background-color: rgb(18, 108, 146);
}
.main2,.statistic-header{
    /* color: rgb(28, 170, 231); */
    color: rgb(12, 154, 215);
}
input[type=range]::-webkit-slider-thumb {
    border-color:white;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
}
input[type=range]::-webkit-slider-runnable-track, input[type=range].lower-double::-webkit-slider-runnable-track  {
    background-color: #707D7D;
}
.blink-bad{
    background-color: red;
}
.blink-good{
    background-color: green;
}


.dark{
    background-color: #2f2f2f;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.standart{
    background-color: rgb(28, 170, 231);;
}






/* .main1{
    background-color: rgb(234, 234, 234);
    color: black;
}
.different-theme{
    background-color: rgb(28, 170, 231);
}
.choice input[type="checkbox"]{
    border: 1px solid #000;
    background-color: rgb(234, 234, 234); 
}
.choice input[type="checkbox"]:checked{
    background-color: rgb(28, 170, 231); 
    border-color: rgb(28, 170, 231);
}
button{
    box-shadow: 0px 1px 4px  rgb(92, 92, 92);
    background-color: rgb(28, 170, 231);
    color: white;
}
button:active {
    background-color: rgb(18, 108, 146);
}
.main2{
    background-color: rgb(234, 234, 234);
    color: rgb(8, 130, 183);
}
.example-answer{
    box-shadow: 0px 1px 4px  rgb(92, 92, 92); 
}
.fill, .fill-double {
    background-color: rgb(28, 170, 231);
}
.easy-basket-filter-info p,.easy-basket-filter-info-double p, .easy-basket-filter-info input, .easy-basket-filter-info-double input{
    color: white;
    background-color: rgb(28, 170, 231);
}
input[type=range]::-webkit-slider-thumb {
    border: 5px solid #f1f1f1;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
    background: rgb(28, 170, 231);
}
input[type=range]::-webkit-slider-runnable-track, input[type=range].lower-double::-webkit-slider-runnable-track  {
    background: #707D7D;
}
.blink-bad{
    background-color: red;
}
.blink-good{
    background-color: green;
} */