*{
    user-select: none;
    padding: 0;
    margin: 0;
    border: 0;
}



.none{
    z-index: -1;
    display: none;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.main1{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(234, 234, 234); */
    /* font-weight: 550; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header1{
    width: 95vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.win-message{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.different-theme{
    height: 7vh;
    aspect-ratio: 1 / 1;
    border-radius: 1vw;
}
.different-theme-block{
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    transition-duration: 0.4s;
    z-index: 10;
}
.conteiner{
    position: absolute;
    overflow: hidden;
    width: 0;
    right: calc(7vh + 2.5vw);
    height: 13vh;
    display: flex;
    justify-content: end;
    align-items: center;
    transition-duration: 0.4s;
}
.dark, .red, .green, .standart{
    height: 7vh;
    aspect-ratio: 1 / 1;
    transition-duration: 0.4s;
}
.dark{
    /* background-color: black; */
}
.green{
    /* background-color: green; */
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.red{
    /* background-color: red; */
}
.standart{
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    /* background-color: rgb(28, 170, 231); */
}
.choice{
    width: 80vw;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice-value{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.choice input{
    appearance: none; /* Убираем стандартное оформление */
    width: 6vw;
    aspect-ratio: 1 / 1;
    /* border: 1px solid #000; */
    border-radius: 1vw;
}
.choice input[type="checkbox"]{
    border: 1px solid;
    /* border-color: black; */
    /* background-color: rgb(234, 234, 234); */
}
.choice input[type="checkbox"]:checked{
    /* background-color: rgb(28, 170, 231); 
    border-color: rgb(28, 170, 231); */
}


.tuning-small-big{
    width: 90vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tuning-small-big button{
    width: 40%;
    height: 80%;
    border-radius: 5px;
    /* box-shadow: 0px 1px 4px  rgb(92, 92, 92); */
    /* background-color: rgb(28, 170, 231);
    color: white; */
    transition-duration: 0.4s;
}
.tuning-small-big button:active {
    width: 35%;
    height: 75%;
    transition-duration: 0.4s;
    /* background-color: rgb(18, 108, 146); */
}


.filter{
    /* margin: 2vh 0 0 0; */
    width: 100vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.start-button{
    margin: 3vh 0 0 0;
    width: 40vw;
    height: 10vh;
    border-radius: 5px;
    /* box-shadow: 0px 1px 4px  rgb(92, 92, 92);
    background-color: rgb(28, 170, 231);
    color: white; */
    transition-duration: 0.4s;
}

.start-button:active {
    width: 35%;
    height: 9%;
    transition-duration: 0.4s;
    /* background-color: rgb(18, 108, 146); */
}



.main2{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(234, 234, 234); */
    font-weight: 550;
    /* color: rgb(8, 130, 183); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 90%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.example-block{
    /* background-color: aliceblue; */
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.example-answer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgb(8, 130, 183); */
    width: 40vw;
    height: 6vh;
    /* background-color: rgb(240, 240, 240);
    box-shadow: 0px 1px 4px  rgb(92, 92, 92);  */
    border-radius: 5px;  
}

.keyboard{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
    margin-bottom: 2%;
}
.keyboard button{
    width: 30%;
    height: 21%;
    margin: 3px;
    border-radius: 5px;
    /* box-shadow: 0px 1px 4px  rgb(92, 92, 92);
    background-color: rgb(28, 170, 231);
    color: white; */
    font-weight: 600;
    transition-duration: 0.4s;
}

.keyboard button:active {
    transition-duration: 0.4s;
    /* background-color: rgb(18, 108, 146); */
}
.keyboard .cssmain2{
    display: flex;
    justify-content: center;
    align-items: center;
}









@media (min-width: 992px) {
    .cssmain1{
        font-size: 2vw;
    }
    .cssmain2{
        font-size: 3vw;
    }
    .forPSize{
        font-size: 2vw;
    }
    span.home{
        font-size: 10vh;
    }
    span.keyboard-circle{
        font-size: 5vw;
    }
}
@media (max-width: 992px) {
    .cssmain1{
        font-size: 3vw;
    }
    .cssmain2{
        font-size: 4vw;
    }
    .forPSize{
        font-size: 2.5vw;
    }
    span.home{
        font-size: 10vh;
    }
    span.keyboard-circle{
        font-size: 5vw;
    }
}
@media (max-width: 780px) {
    .cssmain1{
        font-size: 4vw;
    }
    .cssmain2{
        font-size: 5vw;
    }
    .forPSize{
        font-size: 3vw;
    }
    span.home{
        font-size: 10vh;
    }
    span.keyboard-circle{
        font-size: 7vw;
    }
}
@media (max-width: 650px) {
    .cssmain1{
        font-size: 5vw;
    }
    .cssmain2{
        font-size: 6vw;
    }
    .forPSize{
        font-size: 4vw;
    }
    span.home{
        font-size: 10vh;
    }
    span.keyboard-circle{
        font-size: 8vw;
    }
}
@media (max-width: 570px) {
    .cssmain1{
        font-size: 6vw;
    }
    .cssmain2{
        font-size: 7vw;
    }
    .forPSize{
        font-size: 4.5vw;
    }
    .choice input{
        width: 6vw;
    }
    span.home{
        font-size: 9vh;
    }
    span.keyboard-circle{
        font-size: 9vw;
    }
}
@media (max-width: 400px) {
    .cssmain1{
        font-size: 6.5vw;
    }
    .cssmain2{
        font-size: 8vw;
    }
    .forPSize{
        font-size: 5.5vw;
    }
    .choice input{
        width: 7vw;
    }
    span.home{
        font-size: 8vh;
    }
    span.keyboard-circle{
        font-size: 10vw;
    }
}
















.easy-basket-filter {
    width: 50%;
    position: relative;
}
.fill {
    height: 3px;
    width: 33%;
    /* background-color: rgb(28, 170, 231); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.easy-basket-filter-info {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* position: absolute;
    top: -50px; */
}
.easy-basket-filter-info p{
    /* color: #fff; */
    padding: 2px 6px;
    /* background-color: rgb(28, 170, 231); */
    border-radius: 4px;
    margin:0;
}
.easy-basket-filter-info .iLower{
    float:left;
    display: inline-block;
    min-height: 4.5vh;
    width: 40px;
    position: relative;
}
.easy-basket-filter-info .iUpper{
    float:right;
    display: inline-block;
    min-height: 4.5vh;
    width: 40px;
    position: relative;
}
.easy-basket-filter-info input{
    width: inherit;
    border: none;
    /* color: #fff; */
    /* font: 11px Open Sans; */
    /* background-color: rgb(28, 170, 231); */
    /* width: 40px; */
    position: absolute;
    bottom: 0;
    text-align:center;
}
/***** Position dual *****/
.range {
    position: absolute;
    left: 0;
    top: 0;
}

/****** Style range ******/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    border: 5px solid;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

input[type=range]:focus, input[type=text]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:20px;
    width: 20px;
    /* border: 5px solid #f1f1f1;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5); */
    border-radius: 100%;
    /* background: rgb(28, 170, 231); */
    cursor: pointer;
    margin-top: -9px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    /* background: #707D7D; */
    border-radius: 1.3px;
}

input[type=range].lower::-webkit-slider-runnable-track {
    /* background: red; */
}
.easy-basket-filter-ticks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5px;
    padding-top: 8px;
    font: 11px Open Sans;
    cursor: default;
    left: 0;
    bottom: 0;
    width: 100%;
}
.easy-basket-filter-ticks > div {
    height: 100%;
    width: 1px;
    /* background: #DDD;
    color: #888; */
}
.easy-basket-filter-ticks > div:nth-child(10n - 9) {
    height: 150%;
}
.easy-basket-filter-ticks > div:nth-child(10n - 9)::before {
    display: block;
    content: attr(data-value);
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    text-align: center;
    width: 40px;
}



.easy-basket-filter-double {
    width: 50%;
    position: relative;
}
.fill-double {
    height: 3px;
    width: 38%;
    /* background-color: rgb(28, 170, 231); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.easy-basket-filter-info-double {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* position: absolute;
    top: -50px; */
}
.easy-basket-filter-info-double p{
    /* color: #fff; */
    padding: 2px 6px;
    /* background-color: rgb(28, 170, 231); */
    border-radius: 4px;
    margin:0;
}
.easy-basket-filter-info-double .iLower-double{
    float:left;
    display: inline-block;
    min-height: 4.5vh;
    width: 40px;
    position: relative;
}
.easy-basket-filter-info-double .iUpper-double{
    float:right;
    display: inline-block;
    min-height: 4.5vh;
    width: 40px;
    position: relative;
}
.easy-basket-filter-info-double input{
    width: inherit;
    border: none;
    /* color: #fff; */
    /* font: 11px Open Sans; */
    /* background-color: rgb(28, 170, 231); */
    /* width: 40px; */
    text-align:center;
    position: absolute;
    bottom: 0;
}
/***** Position dual *****/
.range-double {
    position: absolute;
    left: 0;
    top: 0;
}

input[type=range].lower-double::-webkit-slider-runnable-track {
    /* background: red; */
}
.easy-basket-filter-ticks-double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5px;
    padding-top: 8px;
    font: 11px Open Sans;
    cursor: default;
    left: 0;
    bottom: 0;
    width: 100%;
}
.easy-basket-filter-ticks-double > div {
    height: 100%;
    width: 1px;
    background: #DDD;
    color: #888;
}
.easy-basket-filter-ticks-double > div:nth-child(10n - 9) {
    height: 150%;
}
.easy-basket-filter-ticks-double > div:nth-child(10n - 9)::before {
    display: block;
    content: attr(data-value);
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    text-align: center;
    width: 40px;
}




.easy-basket-filter-three {
    width: 50%;
    position: relative;
}
.easy-basket-filter-info-three {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* position: absolute;
    top: -50px; */
}
.easy-basket-filter-info-three p{
    /* color: #fff; */
    padding: 2px 6px;
    /* background-color: rgb(28, 170, 231); */
    border-radius: 4px;
    margin:0;
}
.easy-basket-filter-info-three .iLower-three{
    float:left;
    display: inline-block;
    min-height: 4.5vh;
    width: 40px;
    position: relative;
}
.easy-basket-filter-info-three input{
    width: inherit;
    border: none;
    /* color: #fff; */
    /* font: 11px Open Sans; */
    /* background-color: rgb(28, 170, 231); */
    /* width: 40px; */
    text-align:center;
    position: absolute;
    bottom: 0;
}
/***** Position dual *****/
.range-three {
    position: absolute;
    left: 0;
    top: 0;
}

input[type=range].lower-three::-webkit-slider-runnable-track {
    /* background: red; */
}
.easy-basket-filter-ticks-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5px;
    padding-top: 8px;
    font: 11px Open Sans;
    cursor: default;
    left: 0;
    bottom: 0;
    width: 100%;
}
.easy-basket-filter-ticks-three > div {
    height: 100%;
    width: 1px;
    background: #DDD;
    color: #888;
}
.easy-basket-filter-ticks-three > div:nth-child(10n - 9) {
    height: 150%;
}
.easy-basket-filter-ticks-three > div:nth-child(10n - 9)::before {
    display: block;
    content: attr(data-value);
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    text-align: center;
    width: 40px;
}




@media (max-width: 767px) {
    .easy-basket-filter, .easy-basket-filter-double, .easy-basket-filter-three {
        width: 85%;
    }
}